@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  background-color: #fcce84;
}

@media screen and (min-width: 800.5px) {
  .gridContainer {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 6em auto auto 4em;
  }
  .gridContainer header {
    grid-row: 1;
    grid-column: 2;
    padding: 2%;
  }
  .gridContainer header h1 {
    margin-top: 50px;
    letter-spacing: 2px;
    z-index: 2;
    text-align: center;
    font-family: monospace;
    font-weight: lighter;
    justify-content: start;
    text-decoration: underline;
  }
  .gridContainer header .container {
    top: 15%;
    left: 10%;
  }
  .gridContainer header h1 {
    margin-left: 6%;
    font-size: 35px;
    text-align: center;
  }
  .gridContainer header .container {
    margin-left: 48%;
    margin-top: 5%;
    top: 0%;
    left: 0%;
  }
  .gridContainer nav {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: monospace;
    align-self: center;
  }
  .gridContainer nav a {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    text-decoration: none;
    justify-content: flex-end;
    margin-left: 5%;
    color: black;
  }
  .gridContainer nav a:hover {
    text-decoration-style: double;
  }
  .gridContainer nav a {
    padding-left: 50px;
    justify-self: end;
    align-self: center;
  }
  .gridContainer nav a #favouriteStar {
    width: 3%;
    position: relative;
    top: 60px;
    left: 90%;
    cursor: pointer;
    background-color: yellow;
  }
  .gridContainer article {
    grid-row: 2;
    grid-column: 2/span 2;
  }
  .gridContainer main {
    grid-row: 3;
    grid-column: 2/span 2;
  }
  .gridContainer main #display {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-content: center;
    margin-left: -10px;
  }
  .gridContainer main #display figure {
    display: flex;
    margin-right: 25px;
    flex-direction: column;
    width: 200px;
    box-shadow: 4px 3px 8px 1px #cc8706f5;
    background-color: white;
    margin-bottom: 5%;
    padding-bottom: 20px;
  }
  .gridContainer main #display figure img {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-left: 25px;
    border-radius: 50%;
  }
  .gridContainer main #display figure figcaption {
    text-align: center;
    margin: 2px;
    color: black;
  }
  .gridContainer main #display figure button {
    padding: 5px;
    background: #f7c569;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fafafa;
    cursor: pointer;
  }
  .gridContainer aside .modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    text-align: center;
    padding-bottom: 10px;
  }
  .gridContainer aside .modal .modalHeader {
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  .gridContainer aside .modal .modalHeader h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .gridContainer aside .modal .modalHeader .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .gridContainer aside .modal a {
    display: inline-block;
    width: auto;
    height: auto;
    border-radius: 5%;
    background-color: #f8bd50;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .gridContainer footer {
    grid-row: 4;
    grid-column: 1/span 4;
  }
}
@media screen and (min-width: 500.5px) {
  .gridContainer {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 6em auto auto auto 4em;
  }
  .gridContainer header {
    grid-row: 1;
    grid-column: 1;
    padding: 2%;
  }
  .gridContainer header h1 {
    margin-top: 50px;
    letter-spacing: 2px;
    z-index: 2;
    text-align: center;
    font-family: monospace;
    font-weight: lighter;
    justify-content: start;
    text-decoration: underline;
  }
  .gridContainer header .container {
    top: 15%;
    left: 10%;
  }
  .gridContainer header h1 {
    margin-left: 6%;
    font-size: 35px;
    text-align: center;
  }
  .gridContainer header .container {
    margin-left: 48%;
    margin-top: 5%;
    top: 0%;
    left: 0%;
  }
  .gridContainer form {
    grid-column: 1/span 2;
    grid-row: 2;
    padding: 10px;
  }
  .gridContainer nav {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: monospace;
    align-self: center;
  }
  .gridContainer nav a {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    text-decoration: none;
    justify-content: flex-end;
    margin-left: 5%;
    color: black;
  }
  .gridContainer nav a:hover {
    text-decoration-style: double;
  }
  .gridContainer nav a {
    padding-left: 50px;
    justify-self: end;
    align-self: center;
  }
  .gridContainer article {
    grid-row: 3;
    grid-column: 1/span 2;
  }
  .gridContainer main {
    grid-row: 4;
    grid-column: 1/span 2;
  }
  .gridContainer main #display {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-content: center;
    margin-left: -10px;
  }
  .gridContainer main #display figure {
    display: flex;
    margin-right: 25px;
    flex-direction: column;
    width: 200px;
    box-shadow: 4px 3px 8px 1px #cc8706f5;
    background-color: white;
    margin-bottom: 5%;
    padding-bottom: 20px;
  }
  .gridContainer main #display figure img {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-left: 25px;
    border-radius: 50%;
  }
  .gridContainer main #display figure figcaption {
    text-align: center;
    margin: 2px;
    color: black;
  }
  .gridContainer main #display figure button {
    padding: 5px;
    background: #f7c569;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fafafa;
    cursor: pointer;
  }
  .gridContainer aside .modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    text-align: center;
    padding-bottom: 10px;
  }
  .gridContainer aside .modal .modalHeader {
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  .gridContainer aside .modal .modalHeader h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .gridContainer aside .modal .modalHeader .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .gridContainer aside .modal a {
    display: inline-block;
    width: auto;
    height: auto;
    border-radius: 5%;
    background-color: #f8bd50;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .gridContainer footer {
    grid-row: 5;
    grid-column: 1/span 4;
  }
}
@media only screen and (max-width: 500px) {
  .gridContainer {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
  }
  .gridContainer header {
    grid-row: 1;
    grid-column: 1;
  }
  .gridContainer header h1 {
    margin-top: 50px;
    letter-spacing: 2px;
    z-index: 2;
    text-align: center;
    font-family: monospace;
    font-weight: lighter;
    justify-content: start;
    text-decoration: underline;
  }
  .gridContainer header .container {
    top: 15%;
    left: 10%;
  }
  .gridContainer header h1 {
    font-size: 35px;
    text-align: center;
  }
  .gridContainer header .container {
    visibility: hidden;
  }
  .gridContainer form {
    position: absolute;
    visibility: hidden;
  }
  .gridContainer nav {
    margin-left: -2%;
    position: fixed;
    background-color: orange;
    width: 100%;
    height: 4em;
    top: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: monospace;
    align-items: center;
  }
  .gridContainer nav a {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    text-decoration: none;
    justify-content: flex-end;
    margin-left: 5%;
    color: black;
  }
  .gridContainer nav a:hover {
    text-decoration-style: double;
  }
  .gridContainer nav a {
    margin-left: -10px;
    align-self: center;
    color: white;
  }
  .gridContainer article {
    grid-row: 3;
    grid-column: 1;
  }
  .gridContainer main {
    grid-row: 4;
    grid-column: 1;
  }
  .gridContainer main #display {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-content: center;
    margin-left: -10px;
  }
  .gridContainer main #display figure {
    display: flex;
    margin-right: 25px;
    flex-direction: column;
    width: 200px;
    box-shadow: 4px 3px 8px 1px #cc8706f5;
    background-color: white;
    margin-bottom: 5%;
    padding-bottom: 20px;
  }
  .gridContainer main #display figure img {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-left: 25px;
    border-radius: 50%;
  }
  .gridContainer main #display figure figcaption {
    text-align: center;
    margin: 2px;
    color: black;
  }
  .gridContainer main #display figure button {
    padding: 5px;
    background: #f7c569;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fafafa;
    cursor: pointer;
  }
  .gridContainer aside .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    text-align: center;
    padding-bottom: 10px;
  }
  .gridContainer aside .modal .active {
    transform: translate(-50%, -50%);
  }
  .gridContainer aside .modal .modalHeader {
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  .gridContainer aside .modal .modalHeader h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .gridContainer aside .modal .modalHeader .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .gridContainer aside .modal a {
    display: inline-block;
    width: auto;
    height: auto;
    border-radius: 5%;
    background-color: #f8bd50;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .gridContainer footer {
    grid-row: 5;
    grid-column: 1;
  }
}

/*# sourceMappingURL=recipe.css.map */
