// @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "mixins";
@import "vars";

body{
    background-color: rgb(252, 206, 132);
	margin-top: 2%;
	// width: 0%;
}
	.gridContainer{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 10em auto auto 10em;
		header{
			grid-row: 2;
			grid-column: 1;
			// padding: 2%;
			// @include logo;
			h1{   
				margin: 0%;
				margin-left: 6%;
				font-size: 30px;
				text-align: center;
			}
			.container{
				margin-left: 48%;
				margin-top: 25%;
				top: 0%;
			}
		}
		nav{
			@include navBar;
			margin-left: -2%;
			}
            form{
				margin-top: 5%;
				grid-row: 3;
				grid-column: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
					font-size: 13px;
                    text-align: center;
                }
                input{
                    width:200px;
                    border: none;
                    margin: 2px;
                    }
                    input[type=text]{
                        width:150px;
                        height:30px;
                        text-align: center;

                    }
                    input[type=submit]{
                        width:60px;
                        height:30px;
                        background-color: rgb(255, 187, 0);
                        border: 2px solid orange;
                        color: white;
                        padding: 1px;
                        border-radius: 5%;
                    }
            }
	}
		

		@media screen and(max-width:650px){
			header{
				grid-row: 2;
				grid-column: 1;
				padding: 2%;
				@include logo;
				h1{   
					margin-left: 6%;
					font-size: 35px;
					text-align: center;
					top: 0%;
				}
				div{
					margin-left: -12.5em;
					margin-top: 20%;
					// top: 0%;
					// left: -2%;
				}
			}
			nav{
				@include mobileNav;
				}
	}
